<div class="user-details">
  <h1>About Me</h1>
  <p>
    Hi. My name is Elena and I am a software engineer based in Manchester UK
    looking for a dev role. I learnt to code at
    <a href="https://manchestercodes.com/">Manchester Codes</a> (a part-time
    coding bootcamp) and have projects demonstrating both front-end and backend
    skills but I am most confident with front-end technologies like React, HTML
    & CSS. You can preview some of my projects and technologies below.
  </p>
  <p>
    I love learning and taking on challenges so mentorship and development
    opportunities are important to me in a role. I'm a team player and love
    working with a vibrant, sociable team but I'm also happy working
    autonomously - I'm an adventurer at heart (I spent the last year or so
    travelling the world) so a remote or part-remote opportunity appeals too.
  </p>
  <p>
    I like to spend my days playing with code but in my spare time I love
    learning spanish, hiking/going on adventures, yoga, watching films, and
    cooking for friends.
  </p>
  <h1>Projects</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Digi Dino (Mobile Game)</h2>
    <img width="50px" src="../assets/images/SVG/react.svg" />
    <img width="50px" src="../assets/images/SVG/javascript.svg" />
    <img width="50px" src="../assets/images/SVG/expo.svg" />
    <p>
      A mobile virtual pet game (similar to Tamagotchi), created for my final
      project at Manchester Codes. Made with React-native, practicing
      test-driven & object-oriented development.
    </p>
    <p>
      LIVE COMING SOON /
      <a href="https://github.com/elenastagg/digi-dino">CODE</a>
    </p>
  </div>
  <div class="tech">
    <h2>Top 100 Movies</h2>
    <img width="50px" src="../assets/images/SVG/heroku.svg" />
    <img width="50px" src="../assets/images/SVG/github.svg" />
    <img width="50px" src="../assets/images/SVG/mysql.svg" />
    <p>
      A full-stack project that interacts with the MovieDB API to save your fave
      films. I have learnt how to set up a database using Sequelize and to
      deploy a project on Heroku & Vercel.
    </p>
    <p>
      <a href="https://top-100-movies-app.now.sh/#/signup">LIVE</a>
      /
      <a href="https://github.com/elenastagg/movies-api">API CODE</a>
      /
      <a href="https://github.com/elenastagg/top-100-movies-app"
        >FRONT-END CODE</a
      >
    </p>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h2>Sign-Up Form Landing Page</h2>
    <img width="50px" src="../assets/images/SVG/css3.svg" />
    <img width="50px" src="../assets/images/SVG/html5.svg" />
    <img width="50px" src="../assets/images/SVG/javascript.svg" />

    <p>
      Part of a series of design challenges set by Frontend Mentor. This is a
      mobile-first landing page using a grid layout and JavaScript for form
      validation.
    </p>
    <p>
      <a
        target="_blank"
        href="https://frontend-mentor-signup-form-challenge.now.sh/"
        >LIVE</a
      >
      /
      <a
        href="https://github.com/elenastagg/frontend-mentor-challenges/tree/master/intro-component-with-signup-form-master"
        >CODE</a
      >
    </p>
  </div>
  <div class="tech">
    <h2>Newsletter Sign-Up Page</h2>
    <img width="50px" src="../assets/images/SVG/css3.svg" />
    <img width="50px" src="../assets/images/SVG/html5.svg" />
    <img width="50px" src="../assets/images/SVG/javascript.svg" />
    <p>
      This is another mobile-first Frontend Mentor challenge. It incorporates a
      gradient background, images and button animation in a grid layout.
    </p>
    <p>
      <a href="https://frontend-mentor-base-apparel-challenge-lac.now.sh/"
        >LIVE</a
      >
      /
      <a
        href="https://github.com/elenastagg/frontend-mentor-challenges/tree/master/base-apparel-coming-soon-master"
        >CODE</a
      >
    </p>
  </div>
</div>
